@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?vkf6di');
    src:    url('../fonts/icomoon.eot?vkf6di#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vkf6di') format('truetype'),
        url('../fonts/icomoon.woff?vkf6di') format('woff'),
        url('../fonts/icomoon.svg?vkf6di#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon1';
    src:    url('../fonts/icomoon1.eot?vkf6di');
    src:    url('../fonts/icomoon1.eot?vkf6di#iefix') format('embedded-opentype'),
        url('../fonts/icomoon1.ttf?vkf6di') format('truetype'),
        url('../fonts/icomoon1.woff?vkf6di') format('woff'),
        url('../fonts/icomoon1.svg?vkf6di#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ff-fresh-meat';
  src:  url('fonts/ff-fresh-meat.eot?qt0cxh');
  src:  url('fonts/ff-fresh-meat.eot?qt0cxh#iefix') format('embedded-opentype'),
    url('fonts/ff-fresh-meat.ttf?qt0cxh') format('truetype'),
    url('fonts/ff-fresh-meat.woff?qt0cxh') format('woff'),
    url('fonts/ff-fresh-meat.svg?qt0cxh#ff-fresh-meat') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ff-fresh-meat"], [class*=" ff-fresh-meat"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ff-fresh-meat' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-icon1"], [class*=" icon-icon1"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon1' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-12:before {
    content: "\e906";
}
.icon-22:before {
    content: "\e907";
}
.icon-32:before {
    content: "\e908";
}
.icon-42:before {
    content: "\e90e";
}
.icon-52:before {
    content: "\e90f";
}
.icon-62:before {
    content: "\e910";
}
.icon-7:before {
    content: "\e911";
}
.icon-3:before {
    content: "\e907";
}
.icon-5:before {
    content: "\e908";
}
.icon-4:before{
  content: "\e905";
}
.icon-1:before {
    content: "\e900";
}
.icon-2:before {
  content: "\e901";
}
.icon-4 .path1:before {
  content: "\e902";
  color: rgb(255, 255, 255);
}
.icon-4 .path2:before {
  content: "\e903";
  margin-left: -1.0107421875em;
  color: rgb(255, 255, 255);
}
.icon-4 .path3:before {
  content: "\e904";
  margin-left: -1.0107421875em;
  color: rgb(255, 255, 255);
}
.icon-4 .path4:before {
  content: "\e905";
  margin-left: -1.0107421875em;
  color: rgb(0, 0, 0);
}
.icon-4 .path5:before {
  content: "\e906";
  margin-left: -1.0107421875em;
  color: rgb(0, 0, 0);
}
.icon-2 .path1:before {
    content: "\e901";
    color: rgb(255, 255, 255);
}
.icon-2 .path2:before {
    content: "\e902";
    margin-left: -1.03125em;
    color: rgb(0, 0, 0);
}
.icon-2 .path3:before {
    content: "\e903";
    margin-left: -1.03125em;
    color: rgb(0, 0, 0);
}
.icon-4 .path1:before {
    content: "\e909";
    color: rgb(255, 255, 255);
}
.icon-4 .path2:before {
    content: "\e90a";
    margin-left: -1.03125em;
    color: rgb(255, 255, 255);
}
.icon-4 .path3:before {
    content: "\e90b";
    margin-left: -1.03125em;
    color: rgb(255, 255, 255);
}
.icon-4 .path4:before {
    content: "\e90c";
    margin-left: -1.03125em;
    color: rgb(0, 0, 0);
}
.icon-4 .path5:before {
    content: "\e90d";
    margin-left: -1.03125em;
    color: rgb(0, 0, 0);
}
.icon-9:before {
    content: "\e912";
}
.icon-10:before {
    content: "\e913";
}
.icon-11:before {
    content: "\e914";
}
.icon-6:before {
    content: "\e915";
}
.icon-8:before {
    content: "\e916";
}
.icon-icon1-01:before {
  content: "\e900";
}
.icon-icon1-02:before {
  content: "\e901";
}
.icon-icon1-03:before {
  content: "\e902";
}
.icon-icon1-04:before {
  content: "\e903";
}
.icon-icon1-05:before {
  content: "\e904";
}
.icon-icon1-06:before {
  content: "\e905";
}
.icon-icon1-07:before {
  content: "\e906";
}
.icon-icon1-08:before {
  content: "\e907";
}
.icon-icon1-09:before {
  content: "\e908";
}
.icon-icon1-10:before {
  content: "\e909";
}
.ff-fresh-meaticon63:before {
  content: "\e900";
}
.ff-fresh-meaticon64:before {
  content: "\e901";
}
.ff-fresh-meaticon65:before {
  content: "\e902";
}
.ff-fresh-meaticon66:before {
  content: "\e903";
}
.ff-fresh-meaticon67:before {
  content: "\e904";
}
.ff-fresh-meaticon68:before {
  content: "\e905";
}
.ff-fresh-meaticon69:before {
  content: "\e906";
}
.ff-fresh-meaticon70:before {
  content: "\e907";
}
.ff-fresh-meaticon71:before {
  content: "\e908";
}
.ff-fresh-meaticon72:before {
  content: "\e909";
}
.ff-fresh-meaticon73:before {
  content: "\e90a";
}
.ff-fresh-meaticon74:before {
  content: "\e90b";
}
.ff-fresh-meaticon75:before {
  content: "\e90c";
}
.ff-fresh-meaticon76:before {
  content: "\e90d";
}
.ff-fresh-meaticon77:before {
  content: "\e90e";
}
.ff-fresh-meaticon78:before {
  content: "\e90f";
}
.ff-fresh-meaticon79:before {
  content: "\e910";
}
.ff-fresh-meaticon80:before {
  content: "\e911";
}