.footer .footer-v4 .widget_nav_menu li{padding-bottom: 9px;}
.footer-v4{
	.footer-home img{
		margin-bottom: 12px;
	}
	address{color: #fff;}
	.footer-bottom{background: #373737;}
	.footer-top{
		background: #f5f5f5;
		padding: 48px 0 25px;
	}
	.footer-home p {
    	color: #838383;
    	margin-bottom: 31px;
	}
	.widget-title{color: #3a3a3b;}
	.widget li{
		color: #838383;
		a{
			color: #838383;
			&:hover{
				color: #94c347;
			}
		}
	} 
	.newsletter-footer{
		background: #e1e1e1;
		padding: 23px 0px 17px 0px;
		border: none;
		h4{
			color:#3a3a3b;
		    padding-top: 4px;	
		}
		input{
			width: calc(100% - 180px);
			background: #fff;
			height: 38px;
			padding: 12px;
		}
		button.btn-default{
			background: #94c347;
			float: $right;	
		    height: 100%;
		}
		.widget-title-border:before{
			top: 32px;
		}
	} 

}	

// footer v5
.footer .footer-v5 .widget_nav_menu li{padding-bottom: 9px;}
.footer-v5{
	.footer-home img{
		margin-bottom: 12px;
	}
	address{color: #fff;}
	.footer-bottom{background: #373737;}
	.footer-top{
		background: #f5f5f5;
		padding: 48px 0 25px;
	}
	.footer-home p {
    	color: #838383;
    	margin-bottom: 31px;
	}
	.widget-title{color: #3a3a3b;}
	.widget li{
		color: #838383;
		a{
			color: #838383;
			&:hover{
				color: #94c347;
			}
		}
	} 
	.newsletter-footer{
		background: #e1e1e1;
		padding: 23px 0px 17px 0px;
		border: none;
		h4{
			color:#3a3a3b;
		    padding-top: 4px;	
		}
		input{
			width: calc(100% - 180px);
			background: #fff;
			height: 38px;
			padding: 12px;
		}
		button.btn-default{
			background: #94c347;
			float: $right;	
		    height: 100%;
		}
		.widget-title-border:before{
			top: 32px;
		}
	} 

}	